
#header {
	background-color: black;
	color:red;
	text-align:center;
	padding:5px;
}
#nav {
	line-height:30px;
	background-color:white;
	text-align:center;
	padding:5px;
}

#footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;
}
